In [ ]:
DATA FRAME BASICS

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("movies.csv")

In [6]:
df.shape

(37, 10)

In [11]:
df.columns

Index(['title', 'industry', 'release_year', 'imdb_rating', 'studio', 'budget',
       'revenue', 'unit', 'currency', 'language'],
      dtype='object')

In [14]:
df.industry.unique()

array(['Bollywood', 'Hollywood'], dtype=object)

In [15]:
df.language.unique()

array(['Bengali', 'English', 'Hindi', 'Kannada', 'Telugu'], dtype=object)

In [16]:
df["language"].unique()

array(['Bengali', 'English', 'Hindi', 'Kannada', 'Telugu'], dtype=object)

In [17]:
df.industry.value_counts()

industry
Hollywood    20
Bollywood    17
Name: count, dtype: int64

In [18]:
df.language.value_counts()

language
English    20
Hindi      12
Telugu      3
Bengali     1
Kannada     1
Name: count, dtype: int64

In [ ]:
COLUMN FILTERING

In [20]:
df[["title","industry","release_year"]]

                                          title   industry  release_year
0                               Pather Panchali  Bollywood          1955
1   Doctor Strange in the Multiverse of Madness  Hollywood          2022
2                         Thor: The Dark World   Hollywood          2013
3                               Thor: Ragnarok   Hollywood          2017
4                       Thor: Love and Thunder   Hollywood          2022
5                      The Shawshank Redemption  Hollywood          1994
6                                  Interstellar  Hollywood          2014
7                      The Pursuit of Happyness  Hollywood          2006
8                                     Gladiator  Hollywood          2000
9                                       Titanic  Hollywood          1997
10                        It's a Wonderful Life  Hollywood          1946
11                                       Avatar  Hollywood          2009
12                                The Godfather  Hollywood          1972
13                              The Dark Knight  Hollywood          2008
14                             Schindler's List  Hollywood          1993
15                                Jurassic Park  Hollywood          1993
16                                     Parasite  Hollywood          2019
17                            Avengers: Endgame  Hollywood          2019
18                       Avengers: Infinity War  Hollywood          2018
19           Captain America: The First Avenger  Hollywood          2011
20          Captain America: The Winter Soldier  Hollywood          2014
21                  Dilwale Dulhania Le Jayenge  Bollywood          1995
22                                     3 Idiots  Bollywood          2009
23                     Kabhi Khushi Kabhie Gham  Bollywood          2001
24                             Bajirao Mastani   Bollywood          2015
25                             Taare Zameen Par  Bollywood          2007
26                          Munna Bhai M.B.B.S.  Bollywood          2003
27                                           PK  Bollywood          2014
28                                        Sanju  Bollywood          2018
29                            The Kashmir Files  Bollywood          2022
30                            Bajrangi Bhaijaan  Bollywood          2015
31                                       Race 3  Bollywood          2018
32                                    Shershaah  Bollywood          2021
33                             K.G.F: Chapter 2  Bollywood          2022
34                    Pushpa: The Rise - Part 1  Bollywood          2021
35                                          RRR  Bollywood          2022
36                     Baahubali: The Beginning  Bollywood          2015

In [ ]:
ROW FILTERING

In [22]:
df[(df.release_year>=2000) & (df.release_year<=2000)]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
8,Gladiator,Hollywood,2000,8.5,Universal Pictures,103.0,460.5,Millions,USD,English

In [24]:
df.studio.unique()

array(['Government of West Bengal', 'Marvel Studios',
       'Castle Rock Entertainment', 'Warner Bros. Pictures',
       'Columbia Pictures', 'Universal Pictures  ', 'Paramount Pictures',
       'Liberty Films', '20th Century Fox', 'Syncopy',
       'Universal Pictures', nan, 'Yash Raj Films', 'Vinod Chopra Films',
       'Dharma Productions', 'Vinod Chopra Productions', 'Zee Studios',
       'Salman Khan Films', 'Hombale Films', 'Mythri Movie Makers',
       'DVV Entertainment', 'Arka Media Works'], dtype=object)

In [26]:
df[df.studio=="Marvel Studios"]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English
17,Avengers: Endgame,Hollywood,2019,8.4,Marvel Studios,400.0,2798.0,Millions,USD,English
18,Avengers: Infinity War,Hollywood,2018,8.4,Marvel Studios,400.0,2048.0,Millions,USD,English
19,Captain America: The First Avenger,Hollywood,2011,6.9,Marvel Studios,216.7,370.6,Millions,USD,English
20,Captain America: The Winter Soldier,Hollywood,2014,7.8,Marvel Studios,177.0,714.4,Millions,USD,English

In [29]:
df[(df.imdb_rating==df.imdb_rating.max()) | (df.imdb_rating==df.imdb_rating.min())]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
5,The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.0,73.3,Millions,USD,English
31,Race 3,Bollywood,2018,1.9,Salman Khan Films,1.8,3.1,Billions,INR,Hindi

In [30]:
df["age"] = df["release_year"].apply(lambda x: 2023 - x)

In [31]:
df.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,68
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,1
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,10
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English,6
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English,1

In [35]:
df["profit"] = df.apply(lambda x: x['revenue']-x['budget'] , axis =1)

In [36]:
df.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,68,30000.0
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,1,754.8
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,10,479.8
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English,6,674.0
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English,1,420.0

In [37]:
df.iloc[:2]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,68,30000.0
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,1,754.8